Repository U-Bitt/ubit, pull requests merged in 2025-09, with the labels that each got.

#8 complete with mock data
  frontend/src/components/shared/Navbar.tsx
  frontend/src/pages/scholarships.tsx
Labels: enhancement, frontend

#10 frontend design changes
  frontend/public/uni1.jpg
  frontend/public/uni2.jpg
  frontend/public/uni3.jpg
  frontend/src/components/shared/Footer.tsx
  frontend/src/components/shared/Navbar.tsx
  frontend/src/components/ui/AnimatedText.tsx
  frontend/src/components/ui/ApplicationProcessDiagram.tsx
  frontend/src/components/ui/AutoScrollingFeatures.tsx
  frontend/src/components/ui/Logo.tsx
  frontend/src/components/ui/RecommendedUniversities.tsx
  frontend/src/components/ui/UniversitySlideshow.tsx
  frontend/src/components/ui/button-variants.tsx
  frontend/src/pages/index.tsx
Labels: enhancement, frontend

#14 Universities
  frontend/src/components/Universities/index.tsx
  frontend/src/components/UniversityDetails/index.tsx
  frontend/src/pages/universities/page.tsx
  frontend/src/pages/universityDetail/[id]/page.tsx
Labels: enhancement, frontend

#18 folder structure fixed
  frontend/src/components/About/index.tsx
  frontend/src/components/UserProfile/index.tsx
  frontend/src/components/shared/Navbar.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/discover/countries.tsx
  frontend/src/pages/discover/scholarships.tsx
  frontend/src/pages/discover/universities.tsx
  frontend/src/pages/manage/dashboard.tsx
  frontend/src/pages/packages.tsx
  frontend/src/pages/prepare/documents.tsx
  frontend/src/pages/prepare/exams.tsx
  frontend/src/pages/prepare/recommendations.tsx
  frontend/src/pages/prepare/trainings.tsx
  frontend/src/pages/prepare/visa.tsx
  frontend/src/pages/user-profile.tsx
  frontend/src/pages/user/profile.tsx
Labels: enhancement, frontend

#21 discover page
  frontend/src/components/Countries/index.tsx
  frontend/src/components/ScholarshipDetails/index.tsx
  frontend/src/components/Scholarships/index.tsx
  frontend/src/components/Universities/index.tsx
  frontend/src/components/UniversityDetails/index.tsx
  frontend/src/hooks/useSavedUniversities.ts
  frontend/src/mockData/countries.ts
  frontend/src/mockData/scholarships.ts
  frontend/src/mockData/universities.ts
  frontend/src/pages/scholarshipDetail/[id]/index.tsx
  frontend/src/pages/universityDetail/[id]/index.tsx
  frontend/src/pages/universityDetail/[id]/page.tsx
Labels: documentation, enhancement, frontend

#34 vercel connected
  backend/.gitignore
  backend/dist/config/database.d.ts.map
  backend/dist/config/database.js
  backend/dist/config/database.js.map
  backend/vercel.json
  frontend/env.local
  frontend/src/components/Dashboard/index.tsx
  frontend/src/components/ScholarshipDetails/index.tsx
  frontend/src/components/Scholarships/index.tsx
  frontend/src/components/ui/AnimatedText.tsx
  frontend/src/utils/api.ts
Labels: enhancement

#42 other countries exams added.
  EXAM_PAGE_UPDATES.md
  frontend/src/components/Exams/index.tsx
  frontend/src/components/user/ExamsComps/ExamCard.tsx
Labels: documentation

#44 exam card fixed
  frontend/src/components/Exams/index.tsx
  frontend/src/components/user/ExamsComps/ExamCard.tsx
Labels: documentation

#46 practice tests added
  frontend/src/components/Exams/index.tsx
Labels: documentation

#48 notifcation cube ✓ and X button worked
  frontend/src/components/NotificationCube/index.tsx
Labels: documentation, frontend

#52 fixed user profile and save profile information
  frontend/src/components/UserProfile/index.tsx
Labels: documentation, frontend

#58 landing page changed
  frontend/package-lock.json
  frontend/package.json
  frontend/public/docu1.jpg
  frontend/public/unib1.jpg
  frontend/public/unib2.jpg
  frontend/public/unib3.jpg
  frontend/public/unib4.jpg
  frontend/src/components/ui/CombinedSection.tsx
  frontend/src/components/ui/GlobeSection.tsx
  frontend/src/components/ui/NewsSection.tsx
  frontend/src/pages/index.tsx
  frontend/yarn.lock
Labels: frontend

#64 fixed dashboard
  frontend/src/components/Dashboard/index.tsx
  frontend/src/components/DetailedMilestoneTracker.tsx
  frontend/src/components/UserProfile/index.tsx
  frontend/src/pages/index.tsx
Labels: documentation, frontend

#65 visa done
  backend/dist/controllers/visaController.d.ts
  backend/dist/controllers/visaController.d.ts.map
  backend/dist/controllers/visaController.js
  backend/dist/controllers/visaController.js.map
  backend/dist/models/Country.d.ts
  backend/dist/models/Country.d.ts.map
  backend/dist/models/Country.js
  backend/dist/models/Country.js.map
  backend/dist/models/Scholarship.d.ts
  backend/dist/models/Scholarship.d.ts.map
  backend/dist/models/Scholarship.js
  backend/dist/models/Scholarship.js.map
  backend/dist/models/Visa.d.ts
  backend/dist/models/Visa.d.ts.map
  backend/dist/models/Visa.js
  backend/dist/models/Visa.js.map
  backend/dist/routes/visas.d.ts
  backend/dist/routes/visas.d.ts.map
  backend/dist/routes/visas.js
  backend/dist/routes/visas.js.map
  backend/dist/utils/visaSeedData.d.ts
  backend/dist/utils/visaSeedData.d.ts.map
  backend/dist/utils/visaSeedData.js
  backend/dist/utils/visaSeedData.js.map
  backend/seed-visas.js
  backend/src/controllers/visaController.ts
  backend/src/models/Visa.ts
  backend/src/routes/visas.ts
  backend/src/utils/visaSeedData.ts
  backend/test-api.js
  frontend/env.local
  frontend/src/components/Visa/index.tsx
  frontend/src/components/VisaDetail/index.tsx
  frontend/src/pages/prepare/visa.tsx
  frontend/src/pages/prepare/visa/[id].tsx
  frontend/src/types/visa.ts
  frontend/src/utils/api.ts
  test-api-connection.js
  test-visa-api.html
Labels: enhancement, frontend, backend

#67 overall and applications progress fixed
  frontend/src/components/Dashboard/index.tsx
Labels: documentation, frontend

#112 error fixed
  frontend/yarn.lock
Labels: bug

#115 polish
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/components/Exams/index.tsx
  frontend/src/components/shared/Navbar.tsx
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: documentation

#116 nn
  frontend/src/components/Documents/index.tsx
  frontend/src/components/ui/SimpleLoader.tsx
Labels: bug, documentation, enhancement, frontend, backend

#117 s
  frontend/src/components/Dashboard/EnhancedApplicationProgress.tsx
  frontend/src/components/Dashboard/EnhancedDashboard.tsx
  frontend/src/components/Dashboard/ExamProgressTracker.tsx
  frontend/src/components/Exams/index.tsx
Labels: backend
